{
    "printWidth": 999,
    "htmlWhitespaceSensitivity": "ignore",
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": false,
    "proseWrap": "preserve",
    "embeddedLanguageFormatting": "off"
  }
  